build/

*.bat
*.obj
*.o
*.out
*.sfc
*.smc
*.srm
*.sym
*.spc
*.it
*.map
*.bnk
*.rom
*.wav
*.pnproj
*.pnps
*.vim
*.vcproj
*.sln
*.ncb
*.suo
*.user

.*~
*~
*.tmp
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.tags
tags
Icon?
ehthumbs.db
Thumbs.db

