Debug/
Release/
build/
*.bat
*.obj
*.o
*.sfc
*.smc
*.srm
*.sym
*.spc
*.it
*.map
*._pc
*.bnk
*.rom
*.wav
*.pnproj
*.pnps
*.npp
*.vim
*.swp
*.vcproj
*.sln
*.ncb
*.suo
*.user

*.*~
.DS_Store
.DS_Store?
._*
tags
.tags
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

