Debug/
Release/
build/
*.bat
*.obj
*.o
*.sfc
*.smc
*.srm
*.sym
*.spc
*.it
*.map
*._pc
*.bnk
*.rom
*.wav
*.pnproj
*.pnps
*.npp
*.vim
*.swp
*.vcproj
*.sln
*.ncb
*.suo
*.user

.*~
*~
*.tmp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.tags
tags
Icon?
ehthumbs.db
Thumbs.db

